.partners-container{
    display: flex;
    align-items: center;
    height: 250px;
}

.partners-container > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.partners-carousel-item{
    padding: 0 25px;
}

.partners-carousel-item img{
    max-width: 60px;
    width: 100%;
    height: auto;
    border-radius:0;
}